@import "../../scss/variables";

.root {
	display: flex;
	flex-direction: column;
	width: 100%;
	border-radius: 15px;
	padding: 32px;
	background: $sub-bg;
	overflow: hidden;
	gap: 32px;
	height: 450px;

	h3 {
		color: $font-dark;
		font-weight: 500;
	}

	.chart {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		height: 100%;
	}
}