@import "../../scss/variables";

.root {
    display: flex;
    flex-direction: column;
    width: 100%;

    a {
        padding: 12px 0;
        padding-left: 64px;
        display: flex;
        align-items: center;
        border-right: 4px solid $sub-bg;
        cursor: pointer;
        transition: border-color 0.25s ease-in-out;
        width: 100%;

        .svg {   
            fill: $font-dark;
            width: 30px;
            height: 30px;
            margin-right: 16px;
            transition: fill 0.25s ease-in-out;
        }

        span { 
            color: $font-dark;
            font-size: 16px;
            font-weight: 500;
            transition: color 0.25s ease-in-out;
        }

        &:hover {
            svg {
                fill: $purple;
            }

            span {
                color: $font;
            }
        }
    }

    .active {
        border-color: $purple;

        svg {
            fill: $purple;
        }

        span {
            color: $font;
        }
    }
}
