@import "../../scss/variables";

.header {
    width: 100%;
    height: 64px;
    padding: 0 64px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid $gray;

    .title {
        display: flex;
        align-items: center;

        img {
            width: 48px;
            margin-right: 8px;
        }
    }

    .nav {
        display: flex;
        align-items: center;

        a {
            padding: 23px 63px;
            font-weight: 600;

            &:hover {
                background: $gray;
            }
        }
    }
}
