@import "../../scss/variables";

.root {
	display: flex;
	align-items: center;
	padding: 24px 32px;
	background: $sub-bg;
	justify-content: space-between;
	border-radius: 15px;

	.logo {
		font-size: 26px;
	}

	.info {
		display: flex;
		align-items: center;
		justify-content: center;

		.svg {
			fill: $font-dark;
			width: 22px;
			height: 22px;
			transform: rotate(180deg);
			cursor: pointer;
			margin-left: 64px;
			transition: none;

			&:hover {
				fill: $red;
			}
		}
	}
}