@import "../../scss/variables";
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@400&display=swap');

.header {
    width: 100%;
    height: 64px;
    padding: 0 64px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid $gray;

    .title {
        display: flex;
        align-items: center;

        img {
            width: 38px;
            margin-right: 5px;
            padding-bottom: 5px;
        }

        h2 {
            font-family: 'Kanit', sans-serif;
        }
    }

    .nav {
        display: flex;
        align-items: center;

        a {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 180px;
            height: 63px;
            font-weight: 600;
            padding-bottom: 3px;
            transition: background-color .25s ease-in-out;

            &:hover {
                background: $gray-hov;
            }
        }

        .active {
            border-bottom: 3px solid $blue;
            padding-bottom: 0;
            color: $blue;

            &:hover {
                background: $blue-hov;
            }
        }
    }
}
