@import "../../scss/variables";

.root {
    height: 100vh;
    width: 100vw;
    background: $main-bg;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    .form {
        display: flex;
        flex-direction: column;
        align-items: center;
        background: $sub-bg;
        border-radius: 15px;
        padding: 32px;
        width: 400px;

        .logo {
            font-size: 42px;
            margin-bottom: 32px;
        }

        p {
            margin-bottom: 16px;
            color: $font-dark;
        }

        input {
            border: 3px solid $dark-blue;
            padding: 12px;
            width: 100%;
            border-radius: 15px;
            font-size: 16px;
            background: $sub-bg;
            color: $font-dark;

            &:first-of-type {
                margin-bottom: 16px;
            }

            &:last-of-type {
                margin-bottom: 16px;
            }

            &:focus {
                border-color: $purple;
                color: $font;
            }

            &:valid {
                border-color: $purple;
                color: $font;
            }
        }

        button {
            font-size: 18px;
            border: none;
            background: $dark-blue;
            color: $font-dark;
            width: 100%;
            padding: 12px 0;
            border-radius: 15px;
            font-weight: 600;
            text-transform: uppercase;

            &:hover {
                cursor: pointer;
                color: $font;
                background-color: $purple;
            }
        }
    }

    .text {
        text-align: center;
        width: 400px;
        color: $font-dark;
        font-size: 14px;
        cursor: default;

        &:hover {
            color: $font;
        }
    }
}
