@import "../../scss/variables";

.root {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 32px;
	margin-right: 32px;
}

.swiper {
	margin: 0 16px;
	height: 282px;
}

.btn {
	display: flex;
	justify-content: center;
	align-items: center;
	background: $sub-bg;
	color: $font;
	border: none;
	font-size: 36px;
	border-radius: 50px;
	opacity: 0.5;
	cursor: pointer;

	svg {
		fill: $font;
		height: 28px;
		width: 28px;
	}

	&:first-child {
		padding: 16px 18px 16px 14px;
	}

	&:last-child {
		padding: 16px 14px 16px 18px;
	}

	&:hover {
		opacity: 1;
	}

	&:active {
		opacity: 1;
	}
}

.slide {
	background: $sub-bg;
	border-radius: 15px;
	padding: 32px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	overflow: hidden;
	font-size: 16px;
	cursor: pointer;
	height: 250px;

	h3 {
		color: $font;
	}

	div {
		p {
			color: $font-dark;
			margin-bottom: 4px;
			font-size: 14px;
			font-weight: 600;
		}

		h3 {
			color: $font;
		}
	}

	&.active {
		background: $active-bg;
		box-shadow: 0 10px 15px -3px rgba(0,0,0,0.3);
		z-index: 1000;
	}
}