$black: #161616;
$gray: #DADCE0;
$gray-hov: #DADCE048;
$blue: #1A73E8;
$blue-hov: #1a73e815;
$white: #F5F5F7;
$background: #F5F5F7;

$font: #ffffbf;
$font-dark: #76697d;
$font-grad: linear-gradient(90deg, rgba(103,43,146,1) 0%, rgba(100,186,226,1) 80%);
$main-bg: linear-gradient(145deg, rgba(49,52,77,1) 0%, rgba(54,37,79,1) 100%);
$sub-bg: #271a30;
$active-bg: linear-gradient(145deg, rgba(105,203,252,1) 0%, rgba(139,87,255,1) 100%);

$dark-blue: rgba(54,37,79,1);
$blue: rgb(103,43,146);
