$font: #ffffbf;
$font-dark: #76697d;
$font-grad: linear-gradient(
    90deg,
    rgba(103, 43, 146, 1) 0%,
    rgba(100, 186, 226, 1) 80%
);
$main-bg: linear-gradient(
    145deg,
    rgba(49, 52, 77, 1) 0%,
    rgba(54, 37, 79, 1) 100%
);
$sub-bg: #271a30;
$active-bg: linear-gradient(
    145deg,
    rgba(105, 203, 252, 1) 0%,
    rgba(139, 87, 255, 1) 100%
);

$black: #161616;
$white: #ffffbf;
$dark-blue: #36254f;
$purple: #7642d0;
$red: #a71b39;
